<%= render "shared/header" %>
<%= form_with model: @user, url: user_registration_path, method: :post, class: '', local: true do |f| %>
  <div class=''>
    <div class=''>
      <div class="form-group ">
        <label class="font-weight-bold mt-5 ml-5 pl-3">ニックネーム</label>
        <%= f.text_field :nickname, class:"", id:"", placeholder:"nickname", autofocus: true %>
      </div>
      <div class="form-group">
        <label class="font-weight-bold mt-5 ml-5 pl-3">メールアドレス</label>
        <%= f.email_field :email, class:"", id:"", placeholder:"Email", autofocus: true %>
      </div>
      <div class="form-group  mb-0 pb-5">
        <label class="font-weight-bold mt-5 ml-5 pl-3">パスワード</label>
        <%= f.password_field :password, class:"", id:"", placeholder:"password", autofocus: true %>
      </div>
      <div class='d-flex justify-content-center mt-3'>
        <%= f.submit "登録" ,class:"" %>
      </div>
    </div>
  </div>
<% end %>
<%= render "shared/footer" %>