<%= render "shared/header" %>
<%= form_with model: @user, url: user_registration_path, method: :post, class: '', local: true do |f| %>
  <div class='bg-light d-flex justify-content-center align-items-center w-100 h-800'>
    <div class='bg-white container w-50 mt-5 mb-5 pt-3 h-500'>
      <div class="form-group ">
        <label class="font-weight-bold form-name">ニックネーム</label>
        <%= f.text_field :nickname, class:"form-control w-75 mt-2 mx-auto", id:"", placeholder:"nickname", autofocus: true %>
      </div>
      <div class="form-group middle-form">
        <label class="font-weight-bold form-name">メールアドレス</label>
        <%= f.email_field :email, class:"form-control w-75 mt-2 mx-auto", id:"", placeholder:"Email", autofocus: true %>
      </div>
      <div class="form-group ">
        <label class="font-weight-bold form-name">パスワード</label>
        <%= f.password_field :password, class:"form-control w-75 mt-2 mx-auto", id:"", placeholder:"password", autofocus: true %>
      </div>
      <div class='d-flex justify-content-center mt-3'>
        <%= f.submit "登録" ,class:"btn btn-outline-dark w-25 font-weight-bolder custom-btn" %>
      </div>
    </div>
  </div>
<% end %>
<%= render "shared/footer" %>